	<%- partial('_partial/head') %>
 	<body>
	  <%- partial('_partial/navigation') %>
	  <div class="container" >
	    <%- body %>
			<footer>
				<%- partial('_partial/footer') %>
			</footer>
	  </div>

		<!-- <script src="<%- config.root %>libs/bs/js/bootstrap.min.js"></script> -->
		<script src="//apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script>(typeof $().modal == 'function')|| document.write('<script src="<%- config.root %>libs/bs/js/bootstrap.min.js" type="text/javascript"><\/script>')</script>

		<!-- material design -->
		<script src="<%- config.root %>libs/bs-material/js/ripples.min.js"></script>
		<script src="<%- config.root %>libs/bs-material/js/material.min.js"></script>
		<!-- toc -->
		<script src="<%- config.root %>libs/tocify/jquery-ui.min.js"></script>
		<script src="<%- config.root %>libs/tocify/jquery.tocify.custom.js"></script>

		<script src="<%- config.root %>js/main.js"></script>

	</body>
</html>
