<%
   var title = '';
   if (page.category) title = page.category;
   if (page.tag) title = page.tag;
   if (page.archive){
   	  if (page.year) title = page.year + (page.month ? '/' + page.month : '');
   	  else title = __('archive_a');
   }
   var year, month;
   var last_year = 1970;
   var is_first_year = 1;
   %>

<!-- title -->
<div class="page-header">
  <h1 class="archive-title<% if (page.tag){ %>-tag<% } else if (page.category){ %>-category<% } %>"><%= title %></h1>
</div>

<div class="row page">
  <!-- cols -->
  <% if (theme.widgets.length) { %>
  <div class="col-md-9">
	<% } else { %>
	<div class="col-md-12">
	  <% } %>

	  <% if (pagination == 2){ %>
	  <!-- display as entry -->
	  <div class="mypage">
	  <% page.posts.each(function(item){ %>
	  <%- partial('post/title', {item: item, index: true}) %>
	  <%- partial('post/entry', {item: item, index: true}) %>	  
	  <% }); %>
	  </div>
	  <div>
	  <center>
	  <%- partial('index_pagination') %>
	  </center>
	  </div>
	  
	  <% } else { %>
	  <!-- display as list -->
	  <div class="archive">
        <ul>
    		<% page.posts.each(function(item){ %>		
                <li class="listing-item">
                  <span class="date_class"> <%= item.date.format("YYYY-MM-DD") %> </span> 
                  <% if (item.link){ %>
                  <% if (item.title){ %>
                  <span class="title link"><a href="<%- item.link %>" target="_blank" <% if (item.description) { %> title="<%= item.description %>" <% } %>><%= item.title %></a></span>
                  <% } else { %>
                  <span class="title link"><a href="<%- item.link %>" target="_blank" <% if (item.description) { %> title="<%= item.description %>" <% } %>><%= item.link %></a></span>
                  <% } %>
                  <% } else { %>
                  <span class="title"><a href="<%- config.root %><%- item.path %>" <% if (item.description) { %> title="<%= item.description %>" <% } %>><%= item.title %></a></span>
                  <% } %>
                </li>			
            <% }); %>
        </ul>
      </div>
<% } %>

</div> <!-- col-md-9/col-md-12 -->

<% if (theme.widgets.length) { %>
<%- partial('sidebar') %>
<% } %>

