<div class="row">
	<div class="col-md-8">
	  <!-- index -->
	  <% if( pageType == 'index') {%>
	  <!-- archives -->
	  <% } else if( pageType == 'archives') {%>
			<h1><%= __('archives') %></h1>
	  <!-- post -->
	  <% } else if( pageType == 'post') {%>
			<h1><%= page.title %></h1>
			<% if (page.date) { %>
			<div class="post-meta-page">
				<i class="fa fa-clock-o"></i>
				<span class="post-time"><%= page.date.format(config.date_format+' '+config.time_format) %></span>
			</div>
			<% } %>
	  <% } %>

		<div class="content">
			<!-- index -->
		  <% if( pageType == 'index') {%>
				<% page.posts.each(function(post){ %>
            <div class="index-item-wrapper">
              <h3>
                <a class="post-title" href="<%= url_for(post.path) %>"><%= post.title %></a>
              </h3>
							<span class="post-time"><%= date(post.date) %></span>
              <div class="excerpt"><%- post.excerpt %></div>
              <% if (post.excerpt){ %>
                  <a class="btn btn-default" href="<%- url_for(post.path) %>"> MORE... </a>
              <% } %>
            </div>
				<% }) %>
				<!-- archives -->
			  <% } else if( pageType == 'archives') {%>
		  		<% page.posts.each(function(post){ %>
              <p class="archive-item">
								<a href="<%= url_for(post.path) %>" class="archive-title"><%= post.title %></a><span class="archive post-time"><%= date(post.date) %></span>
							</p>
			  	<% }) %>
			  <!-- post -->
			  <% } else if( pageType == 'post') {%>
					<%- page.content %>
			  <% } %>
		</div>

		<!-- pagination -->
	  <% if (page.total > 1 ){ %>

			<div class="btn-group btn-group-justified">
				<% if (page.prev || page.next) { %>

					<a class="btn btn-default <% if (!page.prev){ %>disabled<% } %>" href="<%- url_for(page.prev_link) %>" ><%= __('prev') %></a>

					<a class="btn btn-default" href="<%- config.root %><%- theme.menu[0].url %>"><%= __('home') %></a>

					<a class="btn btn-default <% if (!page.next){ %>disabled<% } %>" href="<%- url_for(page.next_link) %>" ><%= __('next') %></a>

	    	<% }  %>
			</div>
	  <% } %>

		<%- partial('comment', {page: page}) %>
	</div>
	<div class="col-md-4">
		<% if (page.toc) { %>
			<div id="toc" ></div>
		<% } else{%>
			<% if (theme.widgets.length) { %>
				<div id="sidebar">
	 			<% theme.widgets.forEach(function(widget){ %>
	 					<%- partial('../_widget/' + widget) %>
	 				<% }); %>
	 			</div>
			<% } %>
		<% } %>
	</div>

</div>
