<div class="row">
	<% if (page.toc || (theme.widgets.length && pageType == 'index')) { %>
	<div class="col-md-9">
	<% }else {%>
	<div class="col-md-9 center-content">
	<%}%>

		<div class="content">
			<!-- index -->
		   <% if( pageType == 'index') {%>
				<% page.posts.each(function(post){ %>
		            <div class="index-item-wrapper">
		              <h3>
		                <a class="post-title" href="<%= url_for(post.path) %>"><%= post.title %></a>
		              </h3>
									<span class="post-time"><%= date(post.date) %></span>
		              <div class="excerpt"><%- post.excerpt %></div>
		              <% if (post.excerpt){ %>
		                  <a class="btn btn-default" href="<%- url_for(post.path) %>"> MORE... </a>
		              <% } %>
		            </div>
				<% }) %>
				<!-- archives -->
			  <% } else if( pageType == 'archives') {%>
			  	<h2><%= __('archives') %></h2>
		  		<% page.posts.each(function(post){ %>
	              <p class="archive-item">
						<a href="<%= url_for(post.path) %>" class="archive-title"><%= post.title %></a><span class="archive post-time"><%= date(post.date) %></span>
					</p>
			  	<% }) %>
			  <!-- post -->
			  <% } else if( pageType == 'post') {%>

			  		<h2><%= page.title %></h2>
					<% if (page.date) { %>
					<div>
						<span class="post-time"><%= page.date.format(config.date_format+' '+config.time_format) %></span>
					</div>	
					<% } %>

					<div class="article-content">
						<%- page.content %>
					</div>

			  <!-- about -->
			  <% } else if( pageType == 'about') {%>
			  		<h2><%= page.title %></h2>
					<%- page.content %>
			   <!-- others, like 404 or sth. -->
			   <% } else  {%>
					查无此页
			  <% } %>
		</div>

		<!-- pagination -->
	  <% if (page.total > 1 ){ %>

			<div class="btn-group btn-group-justified">
				<% if (page.prev || page.next) { %>

					<a class="btn btn-default <% if (!page.prev){ %>disabled<% } %>" href="<%- url_for(page.prev_link) %>" ><%= __('prev') %></a>

					<a class="btn btn-default" href="<%- config.root %><%- theme.menu[0].url %>"><%= __('home') %></a>

					<a class="btn btn-default <% if (!page.next){ %>disabled<% } %>" href="<%- url_for(page.next_link) %>" ><%= __('next') %></a>

	    	<% }  %>
			</div>
	  <% } %>

		<%- partial('comment', {page: page}) %>
	</div>

	<% if (theme.widgets.length && pageType == 'index') { %>
		<div class="col-md-3">
			<div id="sidebar">
		</div>
			<% theme.widgets.forEach(function(widget){ %>
					<%- partial('../_widget/' + widget) %>
				<% }); %>
			</div>
	<% } else if(page.toc){ %>
		<div class="col-md-3">
			<div id="toc" ></div>
		</div>
	<% } %>

</div>
