<% if(theme.footer){ %>
  <p><%= theme.footer %></p>
<% } %>

<p>
  由 <a href="https://hexo.io">hexo</a> 强力驱动 | 搭载 <a href="https://github.com/wayou/hexo-theme-material">material</a> 主题
</p>
<p>
  &copy; <%= new Date().getFullYear() %> <a href="<%= config.url %>"><% if (config.author){ %> <%= config.author %> <% } else { %> <%= config.title %> <% } %></a>
</p>
<a id="gotop" href="#" title="back to top"><i class="mdi-hardware-keyboard-arrow-up"></i></a>
