<div class="pagination">
<ul class="pagination">
	 <% if (page.prev || page.next) { %>
		<% if (page.prev){ %>
    	<li class="prev"><a href="<%- config.root %><%- page.prev_link %>" class="alignleft prev btn btn-default more withripple"><i class="fa fa-chevron-left"></i> <%= __('prev') %></a></li>
  		<% } else { %>
          <li class="prev disabled "><a class="btn btn-default more withripple"><i class="fa fa-chevron-left"></i><%= __('prev') %></a></li>
        <% } %>

        <li><a href="<%- config.root %>" class="btn btn-default more withripple"><%= __('home') %></a></li>

		<% if (page.next){ %>
		   <li class="next"> <a type="button" href="<%- config.root %><%- page.next_link %>" class="alignright next btn btn-default more withripple"><%= __('next') %><i class="fa fa-chevron-right"></i></a> </li>          
        <% } else { %>
          <li class="next disabled"><a><%= __('next') %><i class="fa fa-chevron-right btn btn-default more withripple"></i></a></li>
        <% } %>
	<% }  %>
</ul>
</div>
