 <div class="row">
  <div class="main">

  <% page.posts.each(function(post, i){ %>
    <article>
      <header>
        <% if(page.cover){%>
          <img src="" alt="">
        <%}%>
        <a href="<%- url_for(post.path) %>" ><%= post.title %></a>
      </header>
      <section class="abstruct">
       <% if(post.excerpt){%>
          <%if(post.cover){%>
            <%- image_tag(url_for(post.cover), {class:'post-cover'}) %>
          <%}%>
          <%- strip_html(post.excerpt) %>
        <%}else{%>
          <%- strip_html(truncate(post.content,{length:150})) %>
        <%}%>
      </section>
      
    </article>
  <% }) %>
  <%- partial('partials/pagination') %>
  
  </div>
  <%if(theme.sidebar&&theme.widgets.length){%>
    <aside>
        <%- partial('partials/widgets') %>
    </aside>
  <%}%>
</div>
