<div class="container clearfix">
  <div class="col col-sidebar">
    <%- partial('partials/widgets') %>
  </div>
  <div class="col col-main">

    <% page.posts.each(function(post, i){ %>
      <article>
        <a href="<%- url_for(post.path) %>" >
          <h3 class="post-title">
            <span><%=post.title || __('no-title')%></span>
          </h3>
        </a>
        <%- partial('partials/post_info',{page: post}) %>

        <section class="post-abstract truncate-text-4">
          <%if(post.excerpt){%>
            <%- strip_html(post.excerpt) %>
          <%}else{%>
            <%- strip_html(truncate(post.content,{length:150})) %>
          <%}%>
        </section>

      </article>
    <% }) %>
    <%- partial('partials/pagination') %>

  </div>
</div>