<!DOCTYPE html>
<html>
<head>
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>

  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Polymer Starter Kit" />
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- Chrome for Android theme color -->
  <meta name="theme-color" content="#303F9F">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Tile color for Win8 -->
  <meta name="msapplication-TileColor" content="#3372DF">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="<%= config.title %>">
  <link rel="icon" sizes="192x192" href="<%- theme.appicon %>">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="<%= config.title %>">
  <link rel="apple-touch-icon" href="<%- theme.appicon %>">

  <!-- Tile icon for Win8 (144x144) -->
  <meta name="msapplication-TileImage" content="<%- theme.appicon %>">

  <!-- rss -->
  <% if (theme.rss){ %>
  <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <!-- favicon -->
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>

  <%- css('css/github-markdown') %>
  <%- css('css/highlight') %>
  <%- css('css/main') %>

  <%- js('polymer/webcomponentsjs/webcomponents-lite') %>

  <link rel="import" href="<%- url_for('elements/elements.html') %>">

</head>