<div class="pagination-wrapper">
 <% if (page.prev || page.next) { %>
    <% if (page.prev){ %>   
      <a class="btn btn-default" href="<%- config.root %><%- page.prev.path %>" class="alignleft prev"><i class="fa fa-chevron-left"></i><%= __('prev') %></a>
      <% } else { %>
          <a class="btn btn-default disabled"><i class="fa fa-chevron-left"></i><%= __('prev') %></a>
        <% } %>

        <a class="btn btn-default" href="<%- config.root %><%- theme.menu[0].url %>"><i class="fa fa-home"></i><%= __('home') %></a>

    <% if (page.next){ %>
       <a class="btn btn-default" href="<%- config.root %><%- page.next.path %>" class="alignright next"><%= __('next') %><i class="fa fa-chevron-right"></i></a>   
        <% } else { %>
          <a class="btn btn-default disabled"><%= __('next') %><i class="fa fa-chevron-right"></i></a>
        <% } %>
  <% }  %>
</div>
