<head>
        <meta charset="utf-8">
            <%
              var title = page.title;

              if (is_archive()){
                title = __('archive_a');

                if (is_month()){
                  title += ': ' + page.year + '/' + page.month;
                } else if (is_year()){
                  title += ': ' + page.year;
                }
              } else if (is_category()){
                title = __('category') + ': ' + page.category;
              } else if (is_tag()){
                title = __('tag') + ': ' + page.tag;
              }
              %>
            <title>
                <% if (title){ %><%= title %> | <% } %><%= config.title %>
            </title>
            <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
            <meta name="theme-color" content="<%= theme.themeColor%>">
                <% if (theme.rss){ %>
                <link href="<%- theme.rss %>" rel="alternate" title="<%= config.title %>" type="application/atom+xml"/>
                <% } %>
            <% if (theme.favicon){ %>
                <link href="<%- theme.favicon %>" rel="icon"/>
                <% } %>

          <% if(theme.themeConfig.codeHighlight=='dark'){%>
            <%- css('css/highlight') %>
          <%}else{%>
            <%- css('css/highlight.light') %>
          <%}%>
          <%- css('css/preloader') %>
          <%- css('css/nav-icon') %>
          <%- css('css/waves.min') %>
          <%- css('css/jquery.tocify') %>
          <%- css('css/main') %>
          <%- css('css/nav-indicator') %>
          <%- partial('partials/theme') %>
          <%- partial('analytics') %>
            </meta>
        </meta>
    </head>