<head>
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta charset="UTF-8">
  <% if (theme.rss){ %>
  <link href="<%- theme.rss %>" rel="alternate" title="<%= config.title %>" type="application/atom+xml"/>
  <% } %>
  <% if (theme.favicon){ %>
  <link href="<%- theme.favicon %>" rel="icon"/>
  <% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Wayou Liu">
  
  <%- autoCanonical(config, page) %>
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <link href="<%- url_for('img/logo.png') %>" rel="shortcut icon"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <%- css('lib/waves/waves.css') %>
  <%- css('lib/tocbot/tocbot.css') %>
  <%- css('style/style.css') %>        
</head>