<header>
  <div class="header-wrap clearfix">
      <div class="header-content">
          <a class="logo-wrap ink" href="<%- url_for() %>">          
            <img class="logo" src="<%- theme.logo %>" alt="">
            <span class="site-name"><%= config.title %></span>          
        </a>
        <div class="menu-wrap">
            <div class="header-burger" onclick="document.body.classList.toggle('open')">
                <div></div>
            </div>
        </div>
      </div>
      <nav class="header-nav">
          <ul>
           <% for (var i in theme.menu){ %>
              <li class="nav-item ink">
                  <a class="nav-link" href="<%- url_for(theme.menu[i]) %>">
                      <%- __(i) %>
                  </a>
              </li>
           <% } %>   
          </ul>
      </nav>
  </div>
</header>
